<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.questio.projects.questio">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".QuestioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest><!--  coad : key for notebook: AIzaSyAUMlogcXYzkaef6c3qMsnYE6RX267PKws
coad : key for pc: AIzaSyAZlEfE3NqK1nfpYHQ8jvzAqxJYy1yqjjI
ningsama key for notebook: AIzaSyDwNr8wd0XT9rmt58rBCxJII2lRo93j32c
-->
