<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.questio.projects.questio">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".QuestioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDgYbGFxTAIhVVcZTr2GDolSzWYc3t7BX8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PlaceActivity"
            android:configChanges="orientation"
            android:label="Place"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PlaceInfo"
            android:configChanges="orientation"
            android:label="Place Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ZoneActivity"
            android:configChanges="orientation"
            android:label="Zone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.QuizActivity"
            android:configChanges="orientation"
            android:label="Quiz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PicturePuzzleAction"
            android:configChanges="orientation"
            android:label="Puzzle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RiddleAction"
            android:configChanges="orientation"
            android:label="Riddle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".libraries.zbarscanner.ZBarScannerActivity"
            android:configChanges="orientation"
            android:label="QR Scanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InventoryActivity"
            android:configChanges="orientation"
            android:label="Inventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AvatarActivity"
            android:configChanges="orientation"
            android:label="Avatar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HOFPlaceActivity"
            android:configChanges="orientation"
            android:label="Hall of Place"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HOFActivity"
            android:configChanges="orientation"
            android:label="Hall of Fame"
            android:screenOrientation="portrait" />

        <receiver android:name=".activities.MainActivity$EnterPlace">
            <intent-filter>
                <action android:name="go_to_place" />
            </intent-filter>
        </receiver>

    </application>

</manifest><!--
coad : key for pc: AIzaSyC32SIKa3xbeyLFSEP9vgRklXLdyZ1igCc
coad : key for pc windows 10: AIzaSyDgYbGFxTAIhVVcZTr2GDolSzWYc3t7BX8
coad : key for notebook windows 10: AIzaSyAcT2dXFVhKPJcPZCOTbzrOzKoUz3xU0Vw
ningsama key for notebook: AIzaSyCZ3dQRXftR2YdxRuUt5pwGYV1nE4qbs1k
parin-key: AIzaSyBzW5I7dfACRvqQo9C1Vx4jVlxaCEghSH0
-->
